@page
@model RazorPages.Pages.Medias.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Search for Altele: <input type="text" asp-for="SearchString1" />
        <input type="submit" value="Filter" />
    </p>
</form>
<form>
    <p>
        Search for Evenimente: <input type="text" asp-for="SearchString2" />
        <input type="submit" value="Filter" />
    </p>
</form>
<form>
    <p>
        Search for Locuri: <input type="text" asp-for="SearchString3" />
        <input type="submit" value="Filter" />
    </p>
</form>
<form>
    <p>
        Search for Peisaje: <input type="text" asp-for="SearchString4" />
        <input type="submit" value="Filter" />
    </p>
</form>
<form>
    <p>
        Search for Persoane: <input type="text" asp-for="SearchString5" />
        <input type="submit" value="Filter" />
    </p>
</form>

<form>
    <p>
        Press the button to get the total number of results: <br>
        <input type="button" id="btnGetCount" value="Count results" onclick="getValue()" />
    </p>
</form>



<table class="table" id="myTable2">
    <thead>
        <tr>
            <th onclick="sortTablePath(0)">
                @Html.DisplayNameFor(model => model.MediaDTO[0].Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaDTO[0].Altele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaDTO[0].DataCreare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaDTO[0].Evenimente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaDTO[0].Locuri)
            </th>
            <th onclick="sortTableCheck(5)">
                @Html.DisplayNameFor(model => model.MediaDTO[0].Moved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaDTO[0].Peisaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaDTO[0].Persoane)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MediaDTO)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Altele)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCreare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evenimente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locuri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Moved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peisaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persoane)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        function sortTablePath(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable2");
            switching = true;
            dir = "asc";

            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;

                    switchcount++;
                } else {

                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        function sortTableCheck(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable2");
            switching = true;
            dir = "asc";

            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (Number(x.innerHTML) > Number(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (Number(x.innerHTML) < Number(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    }

                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;

                    switchcount++;
                }
                else {

                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        function getValue() {
                var rowCount = $("#myTable2 td").closest("tr").length;
                var message = "Number of results: " + rowCount;
                alert(message);
        };
    </script>
}
